<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Database Credentials -->
    <add key="hostname" value="localhost"/>
    <add key="username" value="root"/>
    <add key="database" value="BetterPizzaApp_db"/>
    <add key="password" value=""/>
    
    <!-- Database Table Names -->
    <add key="tbl_employee" value="tbl_employees"/>
    <add key="tbl_receipts" value="tbl_receipts"/>
    <add key="tbl_pizzas" value="tbl_pizzas"/>
    <add key="tbl_sides" value="tbl_sides"/>
    <add key="tbl_drinks" value="tbl_drinks"/>
    <add key="tbl_customers" value="tbl_customers"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>